#Authenticaion {
    & > div {
        display: flex;
        width: 900px;
        justify-content: space-between;
        margin: 50px auto 200px;
        align-items: start;
        column-gap: 50px;
    }

   

    & .sign_box {
        width: 100%;
        & input {
            margin-bottom: 10px;
        }

        > h2 {
            margin: 0 0 10px;
            font-size: 2rem;
        }
        > span.sign_subtitle {
            display: block;
            margin: 0 0 10px;
            font-size: 1.25rem;
        }

        .btn {
            display: flex;
            justify-content: space-between;
            column-gap: 10px;

            .box_btn {
                width: 100%;
            }
        }
    }
}

@media all and (max-width:1024px) {
    #Authenticaion {
        & > div {
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            margin: 20px auto 100px;
            align-items: start;
            column-gap: 0;
            row-gap: 50px;
        }

        & .sign_box {
            
            >h2 {
                margin: 0 0 5px;
                font-size: 1.333rem;
            }

            >span.sign_subtitle {
                font-size: 1.083rem;
            }
        }
    }
}
@media all and (max-width:768px) {
    
}