
header {
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #fff;
    transition: all 0.2s;

    border: 1px solid blue;

    .gnb {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 90px;
        background-color: #fff;
        
        > .wrap_inner3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 90px;
        }

        .hd_left_menu {
            display: flex;
            align-items: center;
            justify-content: start;

            h1 > a {
                    margin-right: 30px;
                    font-size: 30px;
                    font-weight: 700;
                }
            
            .hd_menu_list {
                display: flex;
                justify-content: start;
                align-items: center;
                column-gap: 30px;
                
                & > li > * {
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }

        .hd_right_menu {
            .my_menu {
                display: flex;
                justify-content: start;
                align-items: center;
                column-gap: 15px;
                & > li,
                & > li > * {
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                & > li.signout {
                    cursor: pointer;
                }
            }
            
        }

        
    }
}