#cart {
  .cart_wrap {
    display: flex;
  }

  .area_left {
    width: 70%;
    padding-right: 4%;
  }

  .cart_chk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;

    label {
      font-size: 1.33rem;
      font-weight: 600;
    }

    .btn_chk_del {
      display: inline-block;
      padding-right: 20px;
      background: url('../../assets/btn_del_sml.png') no-repeat right center / 10px;
      color: #666;
      font-size: 1.25rem;
    }
  }

  .tbl_col.prd {
    > .tbody {
      > li.prdimg {
        .img {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      > li.prd.tal {
        text-align: left;
      }
      > li.prd {
        position: relative;
        padding-right: 28px;

        .name {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
      }
      .btn_del {
        display: block;
        width: 28px;
        height: 28px;
        background: url('../../assets/btn_del.png') no-repeat center / 28px;
        color: transparent;
        font-size: 0;
        cursor: pointer;
      }
    }
  }

  .cart_btn {
    padding-top: 20px;

    .msg {
      padding-top: 20px;
      color: #888;
      font-size: 1.167rem;

      > p {
        position: relative;
        padding-left: 10px;

        &::after {
          position: absolute;
          left: 0;
          top: 0;
          color: #888;
          font-size: 1.167rem;
          content: '-';
        }
      }
    }
  }

    .area_right {
        
        flex-shrink: 0;
        width: 30%;
        max-width: 360px;
        .title {
            padding-bottom: 20px;
            font-size: 1.833rem;
            font-weight: 600;
        }
        .inner {
            position: sticky;
            top: 101px;
        }

        .box {
            padding: 30px 22px 25px;
            border: 1px solid #efefef;
            border-radius: 6px 6px 0 0;
            background-color: #fff;
        }

        .btn {
            .box_btn>* {
                border-radius: 0;
            }
        }

        .btn_cpn {
            margin-top: 20px;

            >* {
                height: 44px;
                border: 1px solid #d50c0c;
                background: #fff;
                color: #d50c0c;
                font-size: 1.333rem;
                letter-spacing: -0.32px;
            }
        }

        .btn_order>* {
            border-radius: 0 0 6px 6px;
        }

        .pay {
            margin-top: 20px;
            text-align: right;
        }
    }
}


@media all and (max-width: 1024px) {
  #cart {

    .cart_wrap {
      display: block;
    }

    .area_left {
      width: 100%;
      padding-right: 0;
    }

    .cart_chk {
      label {
        font-size: 1.25rem;
      }
    }

    .cart_btn {
      .msg {
        font-size: 1.083rem;

        >p::after {
          font-size: 1.083rem;
        }
      }
    }

    .area_right {
      width: 100%;
      max-width: 100%;
      margin-top: 50px;

      .inner {
        position: static;
      }

      .btn_order.fixed {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 45;
        width: 100%;

        >* {
          height: 60px;
          border-radius: 0;
        }
      }
    }

    .related {
      width: 100%;
      padding-right: 0;
    }
  }
}

@media all and (max-width: 768px) {
  #cart {

    .cart_chk {
      padding: 30px 0 14px;

      label,
      .btn_chk_del {
        font-size: 1.167rem;
      }
    }

    .tbl_col.prd {
      >.tbody:not(.set) {
        border-color: #000;
      }

      >.tbody:last-child:not(.set) {
        border-color: #EFEFEF;
      }

      >.tbody>li {
        margin-left: 125px;
      }

      >.tbody>li.prdimg {
        .img {
          width: 110px;
        }
      }

      >.tbody>li.prd {
        .btn_del {
          >a {
            top: 0;
          }
        }
      }

      >.tbody>li.btn {
        display: flex;
        gap: 8px;
        margin-left: 0;
        margin-top: 15px;

        span+span {
          margin-top: 0;
        }

        .box_btn {
          flex: 1;
        }
      }

      >.tbody>li.total.is_sale {
        .before {
          display: inline-block;
        }
      }

      >.tbody.set {
        >li.prdimg {
          .img {
            padding-left: 45px;
            background-position: left 30px center;
          }
        }

        >li.total,
        >li.btn {
          margin-left: 45px !important;
        }
      }
    }

    .cart_btn {
      .msg {
        font-size: 1rem;

        >p::after {
          font-size: 1rem;
        }
      }
    }

    .relate_slide {
      margin: 0 -4.26%;
      padding: 0 4.26%;
    }
  }

  .cart_sum {
    .delivery_msg {
      width: 40%;
      font-size: 1.083rem;
    }

    .prc_order {
      width: 60%;

      dl {
        font-size: 1.083rem;
      }
    }
  }
}

#cart {
  .cart_sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;

    .delivery_msg {
      font-size: 1.167rem;
      font-weight: 600;
    }

    .prc_order {
      width: 280px;
      margin-bottom: 0;
      padding: 24px 0;
      background: none;

      &::after {
        display: none;
      }

      dl {
        font-size: 1.167rem;
      }

      .total.sbs_pay {
        dd {
          color: #000 !important;
        }
      }
    }
  }
}