footer {
    margin-top: 100px;
    padding-bottom: 110px;
    background-color: #333;

    * {
        color: #fff;
    }

    .ft_top {
        margin-bottom: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .menu {
            display: flex;
            justify-content: flex-start;

            >li+li {
                margin-left: 20px;
            }

            >li>a {
                font-size: 1.083rem;
                letter-spacing: -0.02em;
                line-height: 53px;
            }
        }
    }

    .ft_btm {
        >.wrap_inner3 {
            display: flex;
            position: relative;
            padding-top: 50px;
        }

        .box_wrap {
            display: flex;
            margin-left: auto;
            order: 2;

            >li {
                border-bottom: 0;

                +li {
                    margin-left: 130px;
                }

                >h3 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 20px;
                    height: auto;
                    font-size: 2.5rem;
                    font-weight: 400;
                    align-items: center;
                    justify-content: space-between;

                    &::after {
                        display: none;
                    }
                }

                >.cont {
                    display: block;
                    padding: 0;
                    border-top: 0;

                    * {
                        color: #999;
                        font-size: 1.167rem;
                        line-height: 1.46;
                    }

                    strong {
                        display: block;
                        margin-bottom: 10px;
                        color: #fff;
                        font-size: 1.667rem;
                        font-weight: 400;

                        >a {
                            color: #fff;
                            font-size: 1.667rem;
                            font-weight: 400;
                        }
                    }

                    .bank>li+li {
                        margin-top: 3px;
                    }
                }
            }
        }

        .info {
            font-style: normal;

            .ta_br {
                display: block;
            }

            .mo_br {
                display: none;
            }

            * {
                color: #999;
                font-size: 1.083rem;
                line-height: 1.8333;
                font-weight: 400;
                padding: 0 5px;
            }

            b a {
                font-weight: 700;
            }
        }

        .copyright {
            margin-top: 20px;

            * {
                color: #999;
                font-size: 1.083rem;
                font-weight: 400;
                letter-spacing: -0.02em;

                a strong {
                    color: #3FC0E5;
                }
            }
        }

        .share {
            display: flex;
            position: absolute;
            bottom: 100%;
            right: 0;
            margin-top: 0;

            >li {
                display: flex;
                height: 53px;
                align-items: center;

                +li {
                    margin-left: 6px;
                }

                img {
                    display: block;
                    height: 26px;
                }
            }
        }
    }
}

@media all and (max-width: 1816px) {
    footer {
        .ft_btm {
            .share {
                right: 2.8645%;
            }
        }
    }
}

@media all and (max-width: 1024px) {
    footer {
        margin-top: 50px;
        padding-bottom: 50px;

        .ft_top {
            margin-bottom: 25px;
        }

        .ft_btm {
            >.wrap_inner3 {
                display: block;
                padding-top: 0;
            }

            .box_wrap {
                display: block;
                margin-left: 0;
                margin-bottom: 30px;

                >li {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                    +li {
                        margin-left: 0;
                    }

                    >h3 {
                        margin-bottom: 0;
                        height: 73px;

                        
                    }

                    >.cont {
                        padding: 20px 0;
                        border-top: 1px solid rgba(255, 255, 255, 0.1);
                    }
                }
            }

            .share {
                position: static;
                margin-top: 40px;

                >li {
                    display: block;
                    height: auto;
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    footer {
        padding-bottom: 40px;

        .ft_top {
            margin-bottom: 20px;

            .menu {
                justify-content: space-between;

                >li+li {
                    margin-left: 0;
                }

                >li>a {
                    line-height: 50px;
                }
            }
        }

        .ft_btm {
            .box_wrap {
                >li {
                    >h3 {
                        height: 50px;
                        font-size: 1.667rem;
                    }

                    >.cont {
                        padding: 15px 0;

                        * {
                            font-size: 1.083rem;
                        }

                        strong {
                            margin-bottom: 5px;
                            font-size: 1.5rem;

                            >a {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }

            .info {
                .ta_br {
                    display: none;
                }

                .mo_br {
                    display: block;
                }

                * {
                    font-size: 1rem;
                }
            }

            .copyright,
            .copyright * {
                font-size: 1rem;
            }

            .share {
                margin-top: 20px;
            }
        }
    }
}